.header {

    background-color: $dark;

    &__link {
    }

    &__img {
    }

    &__list {
        display: flex;
        gap: 30px;
    }

    &__item {
        
    }

    &__list-link {
        color: #FFFFFF;
        opacity: 0.8;
        font-family: 'Questrial';
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        transition: all 0.3s ease;

        &:hover{
            display: block;
            transform: scale(1.05);
            color: $yellow;
        }

        &:active{
            opacity: 0.6;
        }
    }

    

}

.header {

    &__burder {
        display: none;
    }

    &__icon {

    }

    &__icon2 {
    }
}


.inner__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: {
        top: 14px;
        bottom: 14px;
    }
}

@media only screen and (max-width: 750px) {

    .header {

        background-color: $dark;
    
        &__link {
        }
    
        &__img {
        }
    
        &__list {
            
        }
    
        &__item {
            
        }
    
        &__list-link {
            display: none;
        }
    }
    .inner__container{
       
    }
    
    .header {

        &__burder {
            display: flex;
            border: none;
            outline: none;
            background: none;
            cursor: pointer;
        }
    
        &__icon {
           
        }
    
        &__icon2 {
            display: none;
        }
    }

}


